body {

    font-family: sans-serif;
    text-align: center;
    background-color:#e0f7fa;
    padding: 40px;
}

.container{
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

button{
    padding: 10px 20px;
  background: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

#result{
 
    margin-top: 20px;
    font-size: 18px;
}

